#### Appserver
django >= 4.1.2
whitenoise >= 6.2.0
celery[redis] >= 5.2.7

#### trading
#vectorbtpro >= 1.13.0 #installed separately
#TA-Lib  # normally included in vectorbt
#yfinance # normally included in vectorbt
#pandas # normally included in vectorbt
#numpy # normally included in vectorbt
#python-telegram-bot # normally included in vectorbt
joblib
ib_insync >= 0.9.70
django-filter >= 22.1
psycopg2-binary

backports.zoneinfo; python_version < '3.9'

#### Only if making machine learning, remove the ordner ml if you don't need it
keras
