.impair{
    background-color: darkkhaki;
}

.true{
    background-color: lime;
}

.exit{
    background-color:greenyellow;
}

.false{
    background-color: firebrick;
}

.blue{
    background-color: dodgerblue  ;
}

.cyan{
    background-color: cyan ;
}

.yellow{
    background-color:  yellow;
}

.pink{
    background-color: deeppink;
}

.red{
    background-color: red;
}