<h1>Python Trading bot</h1>
<p><b>Author: Psemdel, Version: 0.01, <a href="https://github.com/psemdel/py-trading-bot">Github</a></b></p>
<table>
    <tr>
        <td><a href="{% url 'reporting:start_bot' %}">Start bot</a></td>
        <td><a href="{% url 'orders:portfolio' %}">Portfolio</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:alerts' %}">Alerts</a></td>
        <td><a href="{% url 'reporting:reports' %}">Main page</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:17h' %}">Write report 17h</a></td>
        <td><a href="{% url 'reporting:22h' %}">Write report 22h</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:cleaning' %}">Cleaning alerts</a></td>
        <td><a href="{% url 'admin:index' %}">Admin panel</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:actualize_hist_paris' %}">Actualize hist Paris candidates (twice a month)</a></td>
        <td><a href="{% url 'reporting:actualize_hist_xetra' %}">Actualize hist XETRA candidates (twice a month)</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:actualize_hist_nasdaq' %}">Actualize hist Nasdaq candidates (twice a month)</a></p>
        <td><a href="{% url 'reporting:actualize_realmadrid_paris' %}">Actualize real madrid Paris candidates (every month)</a></td>
    </tr>
    <tr>
        <td><a href="{% url 'reporting:actualize_realmadrid_xetra' %}">Actualize real madrid XETRA candidates (every month)</a></td>
        <td><a href="{% url 'reporting:actualize_realmadrid_nasdaq' %}">Actualize real madrid Nasdaq candidates (every month)</a></td>
    </tr>
</table>
<br/>
<h1>Reports</h1>
<form method="get">
  <table style="background-color:00CED1;">
      <th >
          <td width="20%">
               Start date {{ reports.form.start_date  }}
          </td>
          <td width="20%">
               End date {{ reports.form.end_date  }}
          </td>          
          <td width="20%">
               Stock exchange {{ reports.form.stock_ex }}
          </td>     
          <td width="20%">
               Index only {{ reports.form.it_is_index }}
          </td> 
          <td>
               <button type="submit">Filter</button>
          </td>
      </th>  
  </table>
</form>

<table>
    {% for report in reports.qs %}
        {% if report.it_is_index %}
        <tr>
        <td><a href="{% url 'reporting:rep' report.id %}">Decision index {{ report.date }}</a></td>
        <td><a href="{% url 'reporting:trend' report.id %}">Trend index {{ report.date }}</a></td>
        </tr>
        {% else %}
        <tr>
        <td><a href="{% url 'reporting:rep' report.id %}">Decision {{report.stock_ex}} {{ report.date }}</a></td>
        <td><a href="{% url 'reporting:trend' report.id %}">Trend {{report.stock_ex}} {{ report.date }}</a></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>



