<h1>Portfolio</h1>
<h2>Long</h2>
{% if actions %}
        
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
            </tr>
        </thead>
            {% for action in actions.all %}
            <tr>
                <td>{{action.symbol}}</td>
                <td>{{action.name}}</td>
            </tr>
            {% endfor %}
    </table>      
{% else %}
    <p>No long action</p>    
{% endif %}

<h2>Short</h2>

{% if actions_short %}
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
            </tr>
        </thead>
         {% for action in actions_short.all %}
        <tr>
            <td>{{action.symbol}}</td>
            <td>{{action.name}}</td>
        </tr>
        {% endfor %}
    </table>    
{% else %}
    <p>No short action</p>    
{% endif %}
<p><a href="{% url 'reporting:reports' %}">Daylies</a></p>
<p><a href="{% url 'orders:portfolio' %}">Portfolio</a></p>
<p><a href="{% url 'reporting:alerts' %}">Alerts</a></p>
<p><a href="{% url 'reporting:start_bot' %}">Start bot</a></p>
