<h1>Portfolio</h1>
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Stock exchange</th>
            <th>Strategy</th>
            <th>Direction</th>
            <th>Sector</th>
        </tr>
    </thead>
        {% for pf in pfs %}   
            {% if pf.actions %}
                {% for action in pf.actions.all %}
                    <tr>
                        <td>{{action.symbol}}</td>
                        <td>{{action.name}}</td>
                        <td>{{action.stock_ex.name}}</td>
                        <td>{{pf.strategy.name}}</td>
                        
                        {% if pf.short %}
                            <td>Short</td>
                        {% else %}
                            <td>Long</td>
                        {% endif %}
                        <td>{{pf.sector.name}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
</table>   

<h1>Manual order entry</h1> 
<p>If you performed an order manually, insert it into the bot, with the form below. Stop loss is optional and makes sense only for opening (leave 0 otherwise).</p>
<form method="post">
{% csrf_token %}
{{form.as_table }}
<br/><br/>
<input type="submit" value="Manual opening order performed" name="opening" id="opening">
<input type="submit" value="Manual closing order performed" name="closing" id="closing">
<input type="submit" value="Reverse order performed" name="reverse" id="reverse">

</form>       

<p><a href="{% url 'reporting:reports' %}">Main page</a></p>

