<h1>Portfolio</h1>
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Stock exchange</th>
            <th>Sector</th>
            <th>Auto</th>
            <th>Strategy</th>
            <th>Direction</th>
        </tr>
    </thead>
        {% for ss in stockstatuss %}
            <tr>
                <td>{{ss.action.symbol}}</td>
                <td>{{ss.action.name}}</td>
                <td>{{ss.action.stock_ex.name}}</td>
                <td>{{ss.action.sector}}</td>
                <td>{{ss.order_in_ib}}</td>
                <td>{{ss.strategy.name}}</td>
                {% if ss.quantity < 0 %}
                    <td>Short</td>
                {% else %}
                    <td>Long </td>
                {% endif %}
            </tr>
        {% endfor %}
</table>   

<h1>Manual order entry</h1> 
<p>If you performed an order manually outside of IB, insert it into the bot with the form below. Stop loss is optional and makes sense only for opening (leave 0 otherwise). For reverse, give the position of present order.</p>
<form method="post">
{% csrf_token %}
{{form.as_table }}
<br/><br/>
<input type="submit" value="Manual opening order performed" name="opening" id="opening">
<input type="submit" value="Manual closing order performed" name="closing" id="closing">
<input type="submit" value="Reverse order performed" name="reverse" id="reverse">

</form>       

<p><a href="{% url 'reporting:reports' %}">Main page</a></p>

