<h1>Portfolio</h1>
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Stock exchange</th>
            <th>Strategy</th>
            <th>Direction</th>
            <th>Sector</th>
        </tr>
    </thead>
        {% for pf in pfs %}   
            {% if pf.actions %}
                {% for action in pf.actions.all %}
                    <tr>
                        <td>{{action.symbol}}</td>
                        <td>{{action.name}}</td>
                        <td>{{action.stock_ex.name}}</td>
                        <td>{{pf.strategy.name}}</td>
                        
                        {% if pf.short %}
                            <td>Short</td>
                        {% else %}
                            <td>Long</td>
                        {% endif %}
                        <td>{{pf.sector.name}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
</table>      

<p><a href="{% url 'reporting:reports' %}">Daylies</a></p>
<p><a href="{% url 'orders:portfolio' %}">Portfolio</a></p>
<p><a href="{% url 'reporting:alerts' %}">Alerts</a></p>
<p><a href="{% url 'reporting:start_bot' %}">Start bot</a></p>
